<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing page of the Data i2i">
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <link rel="shortcut icon" href="../static/mob-home-ban.png" type="image/x-icon">
    <title>DATA i2i</title>
</head>
<body>
    <div class="desktop">
        <div class="nav-btn">
            <a href="#nav"><img src="../static/home (2).svg" alt="" class="nav-icons"></a>
            <a href="#contact"><img src="../static/mail.svg" alt="" class="nav-icons"></a>
        </div>
        <nav>
            <img src="../static/logo.png" alt="logo">
            <div class="navlist" id="nav">
                <a href="#home"><b>Home</b></a>
                <a href="#service"><b>Services</b></a>
                <a href="#products"><b>Products</b></a>
                <a href="#contact"><b>Contact Us</b></a>
<!--                <a href="about.html" target="_blank" rel="noopener noreferrer">About Us</a> -->
                <!-- <a href="/upload_data">products</a> -->
            </div>

            <!-- Other navigation items -->
        </nav>
        <div class="header" id="home">
            <div class="banner-content">
                <p class="ban-heading"><b>Empowering Industries<br> with&nbsp;<span class="typewriter"></span></b></p>
                <!--   <span>AI Solutions</span> -->
                <p class="ban-sub-text"><span class = "para">"DATAi2i, where AI meets industrial innovation" <br> </span>

                   A premier AI R&D company, specializing in GenAI solutions, AI Assistants, custom AI products, and industrial IoT integrations.<br><br>For Revolutionising industries with AI-driven technologies</p>

                
                <a href="mailto:datai2i.analytics@gmail.com" style="text-decoration: none;">
                    <div class="contact-us">
                        <p>Contact Us</p>
                        <img src="../static/right-arrow.png" alt="arow">
                    </div>
                </a>
            </div>
            <img class="banner-img" src="../static/banner.png" alt="banner-img">
        </div>
        <h1 class="sec-2-head">ARTIFICIAL INTELLIGENCE TO INTERNET OF THINGS [I2I] <h1>
        <div class="services" id="service">
            <h1>Our Services</h1>
            <img src="../static/right.png" class="service-right-back" alt="">
            <div class="service-cards">
                <div class="card">
                    <img src="../static/icon (2).png" alt="">
                    <h2>GenAI Innovation</h2>
                    <p>GenAI solutions are at the heart of DATA i2i's mission, where we redefine possibilities. From predictive analytics to advanced machine learning models, we bring the next generation of AI to your business.</p>
                </div>
                <div class="radial-grad"></div>
                <div class="card">
                    <img src="../static/icon (1).png" alt="">
                    <h2>AI Assistants</h2>
                    <p>DATAi2i crafts AI Assistants that are more than just tools. They are partners in your business journey. Our AI Assistants optimize processes, enhance decision-making, and transform customer experiences.</p>
                </div>
                <div class="radial-grad"></div>
                <div class="card">
                    <img src="../static/icon (2).png" alt="">
                    <h2>Custom AI Development</h2>
                    <p>At DATAi2i, we collaborate closely with our clients to develop customized AI products. We're not just service providers; we're your research partners in innovation.</p>
                </div>
                <div class="radial-grad"></div>
                <div class="card">
                    <img src="../static/icon (3).png" alt="">
                    <h2>Intelligent Industrial IoT</h2>
                    <p>The convergence of AI and IoT is redefining industrial capabilities. DATAi2i stands at this intersection, architecting AI solutions that bring intelligence to IoT infrastructure.</p>
                </div>
            </div>
        </div>
<!-- <swiper-container class="mySwiper" id="products" style="background-color:#EFEEFF;" pagination="true" navigation="true">
            {% for i in data %}
            <swiper-slide>
                <h1 class="sec-3-head">{{ i.title }}</h1>
                <h2 class="sec-3-subhead">{{ i.sub_title }}</h2>
                <div class="sec3" id="products">
                    <div class="fet-left">
                        {% set x = i.features %}
                        {% for j in range(0,(x|length)//2) %}
                        <div class="fet">
                            <img src="{{i.features[j].imagePath}}" alt="">
                            <p>{{i.features[j].title }}</p>
                        </div>
                        {% endfor %} 
                    </div>
                    <div class="fet-img">
                        <img src="{{i.product_logo}}" alt="products-icons">
                    </div>
                    <div class="fet-right">
                        {% set x = i.features %}
                        {% for j in range((x|length)//2, x|length ) %}
                        <div class="fet">
                            <img src="{{i.features[j].imagePath}}" alt="">
                            <p>{{i.features[j].title }}</p>
                        </div>
                        {% endfor %} 
                    </div> 
                </div>
                <p class="sec-3-des">{{ i.product_desc }} </p>
                <div class="sec4">
                    <!-- <h3>Di2i in Action</h3> -->
                    <!-- <div class="products">
                        {% for j in i.product_features %}
                        <div class="proicon">
                            <img src="{{ j.imagePath }}" alt="">
                            <p>{{j.title}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </swiper-slide>
            {% endfor %}  -->
            <!-- <swiper-slide>
            <h1 class="sec-3-head">Unveiling Di2i DigiEdge</h1>
            <h2 class="sec-3-subhead">Sculpting Manufacturing Futures through Digital Brilliance</h2>
            <div class="sec3" id="products">
                <div class="fet-left">
                    <div class="fet">
                        <img src="../static/fet-icon (1).png" alt="">
                        <p>Receive a quantified digital transformation scorecard</p>
                    </div>
                    <div class="fet">
                        <img src="../static/fet-icon (2).png" alt="">
                        <p>Gain insights into strengths, weaknesses, and improvement areas</p>
                    </div>
                    <div class="fet">
                        <img src="../static/fet-icon (3).png" alt="">
                        <p>Understand industry trends and competitor practices</p>
                    </div>
                </div>
                <div class="fet-img">
                    <img src="../static/products-icon.png" alt="products-icons">
                </div>
                <div class="fet-right">
                    <div class="fet">
                        <img src="../static/fet-icons (1).png" alt="">
                        <p>Data-driven decisions for enhanced performance</p>
                    </div>
                    <div class="fet">
                        <img src="../static/fet-icons (2).png" alt="">
                        <p>Strategic initiatives for better ROI</p>
                    </div>
                    <div class="fet">
                        <img src="../static/fet-icons (3).png" alt="">
                        <p>Stay competitive in the digital era</p>
                    </div>
                </div>
            </div>
            <p class="sec-3-des">Di2i DigiEdge, an advanced LLM based AI chatBOT, is tailored to evaluate and enrich your
                manufacturing company's digital transformation journey. Through precise interactions, it comprehensively
                analyzes your digital landscape, offering tailored insights that align with your unique transformation path
            </p>
            <div class="sec4">
                <h3>Di2i in Action</h3>
                <div class="products">
                    <div class="proicon">
                        <img src="../static/product-icon.png" alt="">
                        <p>Information Gathering</p>
                    </div>
                    <div class="proicon">
                        <img src="../static/product-icon (1).png" alt="">
                        <p>Technology Analysis</p>
                    </div>
                    <div class="proicon">
                        <img src="../static/product-icon (2).png" alt="">
                        <p>Data Insights</p>
                    </div>
                    <div class="proicon">
                        <img src="../static/product-icon (3).png" alt="">
                        <p>Engagement Assessment</p>
                    </div>
                    <div class="proicon">
                        <img src="../static/product-icon (4).png" alt="">
                        <p>Results & Suggestions</p>
                    </div>
                </div>
            </div>
        </swiper-slide> -->
        <!-- </swiper-container> --> 
        <h1 class="sec-3-head">Workshops</h1>
        <h2 class="sec-3-subhead">DATAi2i empowers Industries and Institutions with tailored Data Science and AI workshops</h2>
<!--             <div class="workshop-desc">
                <img src="../static/workshop-gear.png" class="gear" alt="">
                <div class="work-card">
                    <p>Our workshop programs are meticulously designed to provide comprehensive knowledge and practical
                        experience in the fields of data science and artificial intelligence. Through tailored sessions,
                        we aim to equip participants with the skills and insights needed to excel in these rapidly
                        evolving domains</p>
                    <ul>
                        <li>Introduction to Data science and AI</li>
                        <li>Data Collection and Preprocessing</li>
                        <li>Machine Learning and MLOps</li>
                        <li>Deep Learning and Neural Networks</li>
                        <li>Hands-On Projects and Case Studies</li>
                        <li>Future Trends and Industry Insights</li>
<!--                         <li>Feature Engineering and Model  <pre>  Evaluation</pre></li> -->
<!--                     </ul> -->
<!--                 </div>  -->
<!--                 <div class="exclusive-for">
                    <h2>Exclusively for :</h2>
                    <div>
                        <img src="../static/exclusive (1).png" alt="">
                        <p>Students</p>
                    </div>
                    <div>
                        <img src="../static/exclusive (2).png" alt="">
                        <p>Institutions</p>
                    </div>
                    <div>
                        <img src="../static/exclusive (3).png" alt="">
                        <p>Professionals</p>
                    </div>

                </div> -->
<!--             </div>
        </div> -->
        <h1 class="sec-3-head">Our Partners</h1>
        <div class="scroll">
            <marquee behavior="scroll" direction="left" scrolldelay="0">
                <img src="../static/scroll (1).png" alt="partner-1">
                <img src="../static/scroll (2).png" alt="partner-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBabC7ZujFru0WAkaRxFv3O8T8NQ2U8dcn5KqZ_IhywNwdL9D95nwVjZsy2tMV10C9X84&usqp=CAU" alt="partner-3">
                <img src="../static/scroll (4).png" alt="partner-4">
            </marquee>
        </div>
        <footer id="contact">
            <img src="../static/logo.png" alt="">
            <div class="nav-links">
                <div class="links">
                    <h1>Learn More</h1>
                    <a href="#service">services</a>
                    <a href="#products">products</a>
                    <a href="#contact">Clients</a>
                </div>
                <div class="contact-det">
                    <h1>Contact Us</h1>
                    <p> <span class = "address">Office :</span> 
                        DATAi2i Pvt Ltd,<br>
                         A-HUB, AU North Campus, Andhra University, 
                        Visakhapatnam, AP - 530003 <br>
                        <span class = "address">Ph :</span> +916303502335</P>
                    <a href="mailto:team@datai2i.com"><span class = "address"> Email: </span>team@datai2i.com</a>
                </div>
            </div>
            <div class="contact-form">
<!--                 <form action="/sendmail" method="get" enctype="multipart/form-data">
                <input type="text" id="email" name="mail" placeholder="example@gmail.com">
                <input type="text" id="message" name="des" placeholder="message">
                <input type="submit" value="send">
                </form> -->
                <form action="https://formsubmit.co/datai2i.web@gmail.com" method="POST">
                    <input type="email" name="email" required placeholder="exampla@gmail.com">
                    <input type="text" name="message" required placeholder="Your Message">
                    <button type="submit">Send</button>
               </form>
            </div>
        
            <div class="social-media">
                <h1>Social Media</h1>
                <div class="social-icon">
                        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png" alt="">
                        <img src="https://www.transparentpng.com/thumb/logo-instagram/mrG45j-instagram-black-logo-free-download.png" alt="">
                        <img src="https://cdn-icons-png.flaticon.com/512/39/39552.png" alt="">
                        <img src="https://www.pngmart.com/files/21/Linkedin-In-Logo-PNG-HD.png" alt="">
                </div>
            </div>
        </footer>
        <center>
            <hr class="footer-line" width="70%">
        </center>
        <p class="copy-rights">© 2023 DATA I2I <b>|</b> All Rights Reserved</p>
    </div>
    <div class="mobile">
        <nav>
            <img src="../static//logo.png" alt="logo">
            <span class="material-symbols-outlined" id="bar" style="color: black;cursor: pointer;"
                onclick="toggleNav()">menu</span>
        </nav>
        <ul class="mob-nav hidden">
            <a class="mn mob-nav" href="#mob-home">Home</a>
            <a class="mn mob-nav" href="#mob-service">Services</a>
            <a class="mn mob-nav" href="#mob-products">Products</a>
            <a class="mn mob-nav" href="#mob-workshop">Workshops</a>
            <a class="mn mob-nav" href="#mob-contact">Contact Us</a>
<!--             <a class="mn mob-nav" href="about.html" target="_blank" rel="noopener noreferrer">About</a> -->
        </ul>

        <div class="home" id="mob-home">
            <p class="ban-heading"><b>Empowering Industries with<br> &nbsp;<span class="typewriter"></span></b></p>
            <img src="../static/mob-home-ban.png" alt="">
            <p class = "paramob">"DATAi2i, where AI meets Industrial innovation" </p>
            <p class="ban-heading ban-sub">A premier AI R&D company, specializing in GenAI solutions, AI Assistants, custom AI products, and industrial IoT integrations.<br><br>For Revolutionising industries with AI-driven technologies</p>
            <div class="contact-btn">
                <p>contact us</p>
                <img src="../static/right-arrow.png" alt="arow">
            </div>
        </div>
        <div class="impact">
            <h1>ARTIFICIAL INTELLIGENCE TO INTERNET OF THINGS [I2I]</h1>
        </div>
        <div class="mob-serv" id="mob-service">
        <div class="mobile-service">
            <center>
                <h1>OUR SERVICE</h1>
            </center>
            <img src="../static/right.png" class="mob-serv-right" alt="">
            <div class="mob-service-card">
                <div class="card">
                    <img src="../static/icon.png" alt="">
                    <h2>GenAI Innovation</h2>
                    <p>GenAI solutions are at the heart of DATA i2i's mission, where we redefine possibilities. From predictive analytics to advanced machine learning models, we bring the next generation of AI to your business.

                    </p>
                </div>
                <div class="radial-grad"></div>
                <div class="card">
                    <img src="../static/icon (1).png" alt="">
                    <h2>AI Assistants
                    </h2>
                    <p>DATAi2i crafts AI Assistants that are more than just tools. They are partners in your business journey. Our AI Assistants optimize processes, enhance decision-making, and transform customer experiences.</p>
                </div>
                <div class="card">
                    <img src="../static/icon (2).png" alt="">
                    <h2>Custom AI Development
                    </h2>
                    <p>At DATAi2i, we collaborate closely with our clients to develop customized AI products. We're not just service providers; we're your research partners in innovation.

                    </p>
                </div>
                <div class="radial-grad"></div>
                <div class="card">
                    <img src="../static/icon (3).png" alt="">
                    <h2>Intelligent Industrial IoT
                    </h2>
                    <p>The convergence of AI and IoT is redefining industrial capabilities. DATAi2i stands at this intersection, architecting AI solutions that bring intelligence to IoT infrastructure.

                    </p>
                </div>
            </div>
        <!-- <div class="mob-feat" id="mob-products">
            <swiper-container class="mySwiper" style="background-color:  #EFEEFF;" pagination="true" navigation="true">
                {% for i in data %}
                <swiper-slide class="mob-feature">   
                    <h1>{{ i.title }}</h1>
                    <h3>{{ i.sub_title }} </h3>
                    <img src="{{i.product_logo}}" alt="" >
                    <div class="mob-feat-product-list">
                        <div class="mob-feat-list">
                            {% for j in i.features  %}
                            <div class="mob-fet">
                                <img src="{{j.imagePath}}" alt="">
                                <p>{{ j.title }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mob-prod-list">
                            {% for j in i.product_features %}
                            <div class="mob-prod-icon">
                                <img src="{{ j.imagePath }}" alt="">
                                <p>{{ j.title}}</p>
                            </div>
                            {%endfor %}
                        </div>
                    </div>
                </swiper-slide>
                {% endfor %}
            </swiper-container>
        </div> -->
        <div class="mob-workshop" id="mob-workshop">
            <h2>WORKSHOPS</h2>
            <h4>DATAi2i empowers Industries and Institutions with tailored Data Science and AI workshops
            </h4>
            <div class="workshops" id="workshop">
<!--                 <div class="workshop-desc">
                    <!-- <img src="../static/workshop-gear.png" class="gear" alt=""> -->
<!--                     <div class="work-card">
                        <p>Our workshop programs are meticulously designed to provide comprehensive knowledge and practical
                            experience in the fields of data science and artificial intelligence. Through tailored sessions,
                            we aim to equip participants with the skills and insights needed to excel in these rapidly
                            evolving domains.</p>
                        <ul>
                            <li>Introduction to Data science and AI</li>
                            <li>Data Collection and Preprocessing</li>
                            <li>Machine Learning Foundations</li>
                            <li>Deep Learning and Neural Networks</li>
                            <li>Hands-On Projects and Case Studies</li>
                            <li>Future Trends and Industry Insights</li>
                            <li>Feature Engineering and Model  <pre>  Evaluation</pre></li>
                        </ul>
                    </div> --> 
<!--                     <div class="exclusive-for">
                        <h2>Exclusively for :</h2>
                        <div>
                            <img src="../static/exclusive (1).png" alt="">
                            <p>Students</p>
                        </div>
                        <div>
                            <img src="../static/exclusive (2).png" alt="">
                            <p>Institutions</p>
                        </div>
                        <div>
                            <img src="../static/exclusive (3).png" alt="">
                            <p>Professionals</p>
                        </div>
    
                    </div> -->
<!--                 </div> -->
            </div>
        </div>
        <h2 class="mob-marque-h2">Our Partners</h2>
        <div class="scroll">
            <marquee behavior="scroll" direction="left" scrolldelay="0">
                <img src="../static/scroll (1).png" alt="partner-1">
                <img src="../static/scroll (2).png" alt="partner-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBabC7ZujFru0WAkaRxFv3O8T8NQ2U8dcn5KqZ_IhywNwdL9D95nwVjZsy2tMV10C9X84&usqp=CAU" alt="partner-3">
                <img src="../static/scroll (4).png" alt="partner-4">
            </marquee>
        </div>
        <footer id="mob-contact" class="mob-foot">
            <center><div class="mob-foot-right">
                <div class="contact-det">
                    <h1>Contact Us</h1>
                    <p class = "adressmob"> <span class = "address">Office :</span> 
                        DATAi2i Pvt Ltd.<br>
                         A-HUB, AU North Campus, Andhra University, 
                        Visakhapatnam, AP - 530003 <br>
                        <span class = "address">Ph :</span> +916303502335</P>
                    <a href="mailto:datai2i.analytics@gmail.com">datai2i.analytics@gmail.com</a>
                    <a href="mailto:team@datai2i.com">team@datai2i.com</a>
                </div>
                <form action="https://formsubmit.co/datai2i.web@gmail.com" method="POST">
                    <input type="email" name="email" required placeholder="exampla@gmail.com">
                    <input type="text" name="message" required placeholder="Your Message">
                    <button type="submit">Send</button>
               </form>
            </div></center>
        </footer>
        <div class="social-media">
            <h1>Social Media</h1>
            <div class="social-icon">
                <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png" alt="">
                <img src="https://www.transparentpng.com/thumb/logo-instagram/mrG45j-instagram-black-logo-free-download.png" alt="">
                <img src="https://cdn-icons-png.flaticon.com/512/39/39552.png" alt="">
                <img src="https://www.pngmart.com/files/21/Linkedin-In-Logo-PNG-HD.png" alt="">
            </div>
        </div>
    </div>   <!--- mobile div closing tag --->
</body> 

<script>

    function toggleNav() {
        var navList = document.querySelector('.mob-nav');
        navList.classList.toggle('hidden');
    }

</script>

</html>
