/* nav bar font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');    
/* banner font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Roboto&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

*::-webkit-scrollbar
{
	display: none;
}

nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20vw;
}

nav img{
    width: 18vw;    
}

.navlist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 1.5vw;
    padding: 10px;
}

.navlist a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #4C459B;
    height: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-img{
    width: 100%;
    align-items: right;
}

.banner-content{
    text-align: left;
    padding: 6vw 3vw; 
    height: 100%;
}

.ban-heading{
    color: white;
    font-size: 4.2vw;
    font-family: 'Archivo', sans-serif;
}

.ban-sub-text{
    color: white;
    width: 80%;
    margin: 2vw 0px;
    font-family: 'Archivo', sans-serif;
    font-size: 2vw;
}

.contact-us{
    width: 14vw;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    margin: 5vw 1vw; 
    font-size: 1.5vw;
    font-family: 'Archivo', sans-serif;
}

.contact-us img{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    padding: 5px;
}

span{
    color: #00C2FF;
    font-weight: 800;
}

.sec-2-head{
    justify-content: center;
    text-align: center;
    margin: 2vw;
    font-size: 4vw;
    font-family: 'Archivo', sans-serif;
}

.services{
    padding: 2vw;
    background-color: #EFEEFF;
    position: fixed;
    width: 100%;
    height: 80%;
    position: relative;
}

.services h1{
    font-size: 3vw;
    margin: 2vw;
    font-family: 'Archivo', sans-serif;
}

.service-right-back{
    right: 0px;
    align-items: end;
    height: 20vw;
    top: 0;
    position: absolute;
}



.service-cards{
    margin: 2vw;
    display: grid;
    grid-template-columns: 1fr .1fr 1fr .1fr 1fr .1fr 1fr .1fr 1fr ;
    gap: 1rem;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.radial-grad{
    background-image: radial-gradient(#4c459ba4,#4c459b86,#EFEEFF,rgba(255,255,255,0.2));
    filter: blur(5px);
}

.card{
    padding: 1vw;
    text-align: left;
    backdrop-filter: blur(6px);   
    
}

.card img{
    width: 4vw;
    aspect-ratio: 1/1;
}

.card h2{
    font-size: 1.5vw;
    margin: 1vw 0vw;
    font-family: 'Archivo', sans-serif;
    color: #4C459B;
}

.card p{
    font-size: 1.2vw;
    margin-bottom: 1vw;
    font-family: 'Archivo', sans-serif;
    color: rgba(0, 0, 0, 0.651);
}

.service-left-back{
    left: 0px;
    align-items: start;
    height: 20vw;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.sec-3-head{
    text-align: center;
    background-color: #EFEEFF;
    font-family: 'Archivo', sans-serif;
    font-size: 3vw;
    padding: 3vw 0vw 0vw 0vw;
}

.sec-3-subhead{
    text-align: center;
    font-size: 2vw;
    color: #4C459B;
    background-color: #EFEEFF;
    font-family: 'Archivo', sans-serif;
    padding: 1vw;
}

.sec-3-des{
    font-family: 'Archivo', sans-serif;
}


.sec3{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    text-align: center;
    padding: 2vw;
    background-color: #EFEEFF;
    gap: .5vw;
    place-items: center;
}

.fet-img img{
    width: 35vw;
}

.fet{
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    margin: 2vw;
    place-items: center;
    padding: 2vw;
}

.fet img{
    width: 4vw;
    aspect-ratio: 1/1;
}

.fet p{
    font-size: 1vw;
    padding: .5vw;
    font-family: 'Archivo', sans-serif;
    text-align: left;
}

.sec-3-des{
    justify-content: center;
    text-align: center;
    background-color: #EFEEFF;
    padding : 2vw 8vw;
    font-size: 1.2vw;
}

.sec4 h3{
    text-align: center;
    background-color: #EFEEFF;
    font-size: 1.5vw;
    color: #4C459B;
    font-family: 'Archivo', sans-serif;
    padding: 1vw;
}

.proicon img{
    background-color: #EFEEFF;
    width: 5vw;
    justify-content: center;
    margin: 10px;
}

.proicon p{
    font-size: 1.2vw;
}

.proicon{
    justify-content: center;
    text-align: center;
    display: grid;
    align-items: center;
    place-items: center;
}

.products{
    background-color: #EFEEFF;
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 2vw;
}

.workshops{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: #EFEEFF;
    padding: 2vw;
}

.workshops img{
    width: 40vw;
}

.workshop-desc{
    padding: 2vw;
}

.work-card{
    padding: 2vw;
    backdrop-filter: blur(3px);
    border: 1px solid #4C459B;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.workshop-desc img{
    width: 8vw;
    right: 0;
    position: absolute;
}

.gear{
    padding-bottom: 3vw;
    transform: translateY(-4vw);
}

.work-card ul{
    display: flex;
    flex-wrap: wrap;
    gap: .5vw;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2vw;
    justify-content: space-between ;
    padding: 1vw;
    color: #4C459B;
    
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 2em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.exclusive-for{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    place-items: center;
}

.exclusive-for div{
    position: relative;
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 1vw;
    place-items: center;
    margin: 1vw ;
}

.exclusive-for h2, .exclusive-for p{
    font-size: 1.5vw;
}

.exclusive-for div img{
    width: 3vw;
    left: 0;
    position: relative;
}

.work-card p{
    font-size: 1.3vw;
}

.scroll{
    padding: 15px 0px;
    background-color: #EFEEFF;
}

marquee{
    background-color: #4C459B;
    height: 8vw;
    padding: 1vw;
    place-items: center;
}

marquee img{
    height: 6vw;
    margin: 0px 6vw;
    place-items: center;
}

footer{
    display: grid;
    grid-template-columns: .3fr 1fr .8fr 1fr;
}

footer img{
    width: 15vw;
}

.nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2vw;
}

.links,.contact-det{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.links h1,.contact-det h1,.social-media h1{
    font-size: 2vw;
    font-family: 'Archivo', sans-serif;
}

.nav-links a, .contact-det a{
    text-decoration: none;
    color:black;
    font-family: 'Archivo', sans-serif;
    font-size: 1vw;
}

.contact-form{
    display: flex;
    flex-direction: column;
    place-items: left;
    justify-content: center;
    gap: 1vw;
}

.contact-form input{
    width: 80%;
    height: 2.5vw;
    padding: 1.5vw;
}


.contact-form button{
    width: 30%;
    height: 2vw;
    background-color: #3D377B;
    color: white;
    border-radius: 10px;
    font-size: 1.3vw;
}

.social-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-media {
    padding: 1.5vw;   
}

.footer-line{
    color: rgba(0, 0, 0, 0.486);
    justify-content: center;
    align-items: center;
    height: 1px;
    margin: 2px;
}

.copy-rights{
    justify-content: center;
    margin: 1vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.648);
    font-family: 'Archivo', sans-serif;
}