/* nav bar font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');    
/* banner font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Roboto&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

*::-webkit-scrollbar
{
	display: none;
}

.nav-btn{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    z-index: 5;
    position: fixed;
    right: 1vw;
    bottom: 1.5vw;
    transition: 1.5s;
}

.nav-btn img{
    width: 4vw;
}

.nav-btn img:hover{
    z-index: 6;
    scale: 1.4;
    
}


nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20vw;
}

nav img{
    width: 14vw;    
}

.navlist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 1.2vw;
    padding: 2vw 5vw;
}

.navlist a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s;
}

.navlist a:hover{
    z-index: 2;
    color: #3D377B;
    font-weight: 100;
}


@keyframes typing {
    0.0000%, 100% { content: ""; }
    3%, 88% { content: "A"; }
    6%, 85% { content: "AI"; }
    9%, 77% { content: "AI "; }
    12%, 72% { content: "AI S"; }
    15%, 68% { content: "AI So"; }
    18%, 64% { content: "AI Sol"; }
    21%, 60% { content: "AI Solu"; }
    24%, 56% { content: "AI Solut"; }
    27%,52% { content: "AI Soluti"; }
    30%,48% { content: "AI Solutio"; }
    33%,44% { content: "AI Solution"; }
    36%,40% { content: "AI Solutions"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "AI Solutions"; }
      30% { content: "Expert Workshops"; }
      70% { content: "reader"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }

.header{
    background-color: #4C459B;
    height: 28vw;
    display: grid;
    padding-top: 0vw;
    grid-template-columns: 1fr 1fr;
}

.banner-img{
    width: 52vw;
    object-fit: contain;
    padding-right: 9vw;
    height: 30vw;
    padding-left: 10vw;
    align-items: right;
}

.banner-content{
    text-align: left;
    padding: 3vw 3vw; 
    height: 100%;
}

.ban-heading{
    color: white;
    font-size: 2.5vw;
    margin: 0vw 3vw;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    padding: top 0vw;
}

.ban-sub-text{
    color: white;
    width: 80%;
    margin: 3vw 3vw;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2vw;
    line-height: 25px;
}

.contact-us{
    width: 10vw;
    display: grid;
    align-items: left;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    margin: 0vw 3vw; 
    font-size: 1.2vw;
    font-family: 'Archivo', sans-serif;
}

.contact-us img{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    padding: .5vw;
}

span{
    color: #00C2FF;
    font-weight: 600;
}
span.para{
    color: #00C2FF;
    font-weight: 400;
    font-size: 1.5vw;
}
span.address{
    color: #000000;
    font-weight: 800;
}
.sec-2-head{
    justify-content: center;
    text-align: center;
    margin: 0.5vw;
    font-size: 1vw;
    /* font-family: 'Archivo', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1vw; /* 45.18px */
    letter-spacing: 0.8vw;
    text-transform: uppercase;
}

.services{
    padding: 0.5vw;
    background-color: #EFEEFF;
    position: fixed;
    width: 100%;
    height: 80%;
    position: relative;
}

.services h1{
    font-size: 2vw;
    text-align: left;
    margin: 1vw;;
    font-family: 'Archivo', sans-serif;
}

.service-right-back{
    right: 0px;
    align-items: end;
    height: 20vw;
    top: 0;
    position: absolute;
}



.service-cards{
    margin: 0.5vw;
    display: grid;
    grid-template-columns: 1fr .1fr 1fr .1fr 1fr .1fr 1fr  ;
    gap: 1rem;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.radial-grad{
    /* background-image: radial-gradient(#4c459ba4,#4c459b86,#EFEEFF,rgba(255,255,255,0.2));
    filter: blur(5px); */
    border-radius: 46px;
    background: radial-gradient(331.64% 44.78% at 0% 41.35%, #D9D6FF 0%, rgba(217, 214, 255, 0.00) 100%);
}

.card{
    padding: 1vw;
    text-align: left;
    backdrop-filter: blur(6px);   
    
}

.card img{
    width: 4vw;
    aspect-ratio: 1/1;
}

.card h2{
    font-size: 1.2vw;
    margin: 1vw 0vw;
    font-family: 'Archivo', sans-serif;
    color: #4C459B;
}

.card p{
    font-size: 1vw;
    margin-bottom: 1vw;
    font-family: 'Archivo', sans-serif;
    color: rgba(0, 0, 0, 0.651);
}

.service-left-back{
    left: 0px;
    align-items: start;
    height: 16vw;
    bottom: 0;
    position: absolute;
    z-index: 10p;
}

.sec-3-head{
    text-align: center;
    background-color: #EFEEFF;
    font-family: 'Archivo', sans-serif;
    font-size: 2.3vw;
    padding: 3vw 0vw 0vw 0vw;
}

.sec-3-subhead{
    text-align: center;
    font-size: 1.8vw;
    color: #4C459B;
    background-color: #EFEEFF;
    font-family: 'Archivo', sans-serif;
    padding: 1vw;
}

.sec-3-des{
    font-family: 'Archivo', sans-serif;
}


.sec3{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    text-align: center;
    padding: 2vw 8vw;
    background-color: #EFEEFF;
    gap: .5vw;
    place-items: center;
}

.fet-img img{
    width: 35vw;
}

.fet{
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    /* margin: 2vw; */
    place-items: center;
    padding: 2vw;
}

.fet img{
    width: 4vw;
    aspect-ratio: 1/1;
}

.fet p{
    font-size: 1vw;
    padding: .5vw;
    font-family: 'Archivo', sans-serif;
    text-align: left;
}

.sec-3-des{
    justify-content: center;
    text-align: center;
    background-color: #EFEEFF;
    padding : 2vw 8vw;
    font-size: 1.2vw;
}

.sec4 h3{
    text-align: center;
    background-color: #EFEEFF;
    font-size: 1.5vw;
    color: #4C459B;
    font-family: 'Archivo', sans-serif;
    padding: 1vw;
}

.proicon img{
    background-color: #EFEEFF;
    width: 5vw;
    justify-content: center;
    margin: 10px;
}

.proicon p{
    font-size: 1.2vw;
    font-family: 'Archivo', sans-serif;
}

.proicon{
    justify-content: center;
    text-align: center;
    display: grid;
    align-items: center;
    place-items: center;
}

.products{
    background-color: #EFEEFF;
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 2vw;
}

.workshops{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: #EFEEFF;
    padding: 2vw;
    padding-bottom: 0.5vw;
}

.workshops img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

.workshop-img{
    aspect-ratio: 4/3;
}

.workshop-desc{
    padding: 2vw;
}

.work-card{
    padding: 2vw;
    backdrop-filter: blur(3px);
    border: 0.px solid #4C459B;
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 2px 34px 0px rgba(130, 130, 216, 0.25);
}

.workshop-desc img{
    width: 8vw;
    right: 0;
    position: absolute;
}

.gear{
    padding-bottom: 3vw;
    transform: translateY(-4vw);
}

.work-card ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: .5vw;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2vw;
    justify-content: space-between ;
    padding: 1vw;
    color: #4C459B;
    
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 2em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.exclusive-for{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    place-items: center;
}

.exclusive-for div{
    position: relative;
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 1vw;
    place-items: center;
    margin: 1vw ;
}

.exclusive-for h2, .exclusive-for p{
    font-size: 1.5vw;
}

.exclusive-for div img{
    width: 3vw;
    left: 0;
    position: relative;
}

.work-card p{
    font-size: 1.3vw;
    font-family: 'Archivo', sans-serif;
}

.scroll{
    padding: 15px 0px;
    background-color: #EFEEFF;
    padding-bottom: 0vw;
}

marquee{
    background-color: #4C459B;
    height: 6vw;
    /* padding: .3vw; */
    place-items: center;
}

marquee img{
    height: 6vw;
    margin: 0px 6vw;
    padding: 1vw 0vw;
    place-items: center;
}

footer{
    display: grid;
    grid-template-columns: .3fr 1fr .8fr 1fr;
}

footer img{
    width: 15vw;
}

.nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2vw;
}

.links,.contact-det{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.links h1,.contact-det h1,.social-media h1{
    font-size: 2vw;
    font-family: 'Archivo', sans-serif;
}

.nav-links a, .contact-det a{
    text-decoration: none;
    color:black;
    font-family: 'Archivo', sans-serif;
    font-size: 1vw;
}

.contact-form{
    display: flex;
    flex-direction: column;
    place-items: left;
    justify-content: center;
    gap: 1vw;
}

.contact-form input{
    width: 80%;
    height: 2.5vw;
    padding: 1.5vw;
    font-size: 1vw;
}


.contact-form button{
    width: 30%;
    height: 2vw;
    background-color: #3D377B;
    color: white;
    border-radius: 10px;
    font-size: 1.3vw;
}

.social-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-media {
    padding: 1.5vw;   
}

.footer-line{
    color: rgba(0, 0, 0, 0.486);
    justify-content: center;
    align-items: center;
    height: 1px;
    margin: 2px;
}

.copy-rights{
    justify-content: center;
    margin: 1vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.648);
    font-family: 'Archivo', sans-serif;
}

.desktop{
    display: contents;
}

.mobile{
    display: none;
}

.social-icon{
    display: flex;
    justify-content: space-around;
    margin: 2vw 0vw;
}

.social-icon img{
    width: 4vw;
    background: none;
}

/* -------------------------------about section style----------------------------- */

.abt-head{
    background-image: url('../static/aboutbg.svg');
    background-size: cover;
    right: 0;
    left: 0;
    height: 35vw;
    display: flex;
    justify-content: right;
    padding: 9vw;
    padding-right: 15vw;
}

.abt-sec{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4C459B;
    text-align: center;
    padding: 2vw 0vw;
}

.abt-sec-text{
    padding: 0vw 15vw;
    padding-top: 8vw;
}

.abt-sec-text-btm{
    padding: 0vw 15vw;
    padding-bottom: 8vw;
}





@media only screen and (max-width: 450px){
    .desktop{
        display: none;
    }
    .mobile{
        display: contents;
    }

    
    nav{
        display: flex;
        justify-content: space-between;
        color: black;
        padding: 2vw 7vw;
    }

    .mob-nav{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        
    }

    .mn{
        margin: 1vw;
        color: black;
        text-decoration: none;
        transform: translateX(0%);
    }
    .hidden {
        display: none;
    }

    .home{
        background-color: #4C459B;
        /* height: 135vw; */
        padding: 3vw;
        /* display: grid;
        grid-template-rows:5vh 10vh 5vh 2vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 4vw;
    }

    .ban-heading {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: 0vw;
        font-size: 5vw;
        align-content: flex-end;
        align-items: baseline;
        flex-wrap: wrap;
        padding-top: 20v;
    }
    .paramob {
        color: #00C2FF;
        font-weight: 400;
        font-size: 4vw;
        font-family: 'Archivo', sans-serif;
        margin: -1vw;
        padding-top: 2vw;
    }

    .ban-sub{
        font-size: 3vw;
    }

    .home img{
        padding: 2vw 8vw;
        width: 100vw;
    }

    .contact-btn{
        display: grid;
        width: max-content;
        grid-template-columns: 80% 20%;
        /* background-color: white; */
        border: 2px solid white;
        font-family: 'Archivo', sans-serif;
        gap: .5vw;
        border-radius: 5px;
        color: white;
    }

    .contact-btn p{
        background: none;
        font-size: 3.5vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
    }
    
    .contact-btn img{
        width: 4vw;
        background-color: white;
        color: black;
        padding: .5vw;
        border-radius: px;
    }

    .impact h1{
        text-align: center;
        font-size: 2vw;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.2vw;
        word-spacing: 1vw;  
        padding: 0.5vw 1vw;
    }

    .mobile-service{
        padding: 3vw;
        background-color: #EFEEFF;
        position:absolute;
        width: 100%;
    }

    .mobile-service h1{
        font-size: 3.5vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-service-card{
        padding: 2vw 0vw;
        position:relative;
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
        gap: 1vw;
        
    }

    .card{
        padding: 2vw 4vw;
        text-align: center;  
        backdrop-filter: blur(10px) !important; 
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 5px;
    }
    
    .card img{
        width: 8vw;
        aspect-ratio: 1/1;
    }
    
    .card h2{
        font-size: 3.5vw;
        margin: 1vw 0vw;
        font-family: 'Archivo', sans-serif;
        color: #4C459B;
    }
    
    .card p{
        font-size: 3vw;
        margin-bottom: 1vw;
        font-family: 'Archivo', sans-serif;
        color: rgba(0, 0, 0, 0.651);
    }

    .last-card{
        margin: 0vw 9.5vw;
        padding: 2vw;
    }

    .mob-serv-right{
        
        right: 0px;
        align-items: end;
        height: 40vw;
        top: 0;
        position: absolute;

    }


    .mob-service-left{
        left: 0px;
        align-items: start;
        height: 36vw;
        bottom: 0;
        position: absolute;
        z-index: 0;
        filter: blur(2px);
    }

    .mob-serv{
        height: 130vw;
    }

    .mob-feat{
        padding: 10vw 2vw;
        padding-bottom: 2vw;
        background-color: #EFEEFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mob-feature h1{
        font-size: 4vw;
        font-family: 'Archivo', sans-serif;
        margin: 1.5vw;
    }

    .mob-feature h3{
        font-size: 3vw;
        font-family: 'Archivo', sans-serif;
        color: #4C459B;
    }

    .mob-feature img{
        width: 80vw;
        margin: 0vw 2vw;
        margin-top: 8vw;
    }

    .mob-feat-product-list{
        /* display: grid;
        grid-template-columns: 80% 20%; */
        padding: 3vw;
    }

    .mob-feat-list{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 2vw;
    }

    .mob-fet{
        display: flex;
        gap: 3vw;
        place-items: center;
        padding: 0vw 5vw;
        padding-left: 10vw;
        text-align: left;
    }

    .mob-fet img{
        width: 8vw;
        margin: 0vw;
    }

    .mob-fet p{
        font-size: 3vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-prod-list{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        margin: 4vw 0vw;
        gap: 4vw;
    }

    .mob-prod-icon img{
        width: 8vw;
        margin: 0vw;
    }

    .mob-prod-icon p{
        font-size: 2vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-workshop{
        text-align: center;
        background-color: #EFEEFF;
    }


    .mob-workshop h2{
        text-align: center;
        background-color: #EFEEFF;
        font-family: 'Archivo', sans-serif;
        font-size: 4.5vw;
        padding: 1.5vw;
    }

    .mob-workshop h4{
        text-align: center;
        font-size: 2.5vw;
        color: #4C459B;
        background-color: #EFEEFF;
        font-family: 'Archivo', sans-serif;
        padding: 1vw;
    }

    .workshops {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #EFEEFF;
        padding: 5vw;
        justify-content: center;
        padding-bottom: 0.5vw;
    }

    .workshops img {
        width: 85vw;
    }

    .work-card {
        padding: 3vw;
        backdrop-filter: blur(3px);
        border: 0.px solid #4C459B;
        border-radius: 10px;
        color: #4C459B;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        background: rgba(255, 255, 255, 0.30);
        box-shadow: 0px 2px 34px 0px rgba(130, 130, 216, 0.25);
    }

    .work-card p {
        font-size: 2.5vw;
        font-family: 'Archivo', sans-serif;
        text-align: left;
    }

    .workshop-desc {
        padding: 2vw;
        padding-top: 0vw ;
    }

    .work-card ul {
        display: grid;
        /* flex-wrap: wrap; */
        grid-template-columns: 1fr 1fr;
        text-align: left;
        gap: 0.5vw;
        font-family: 'Archivo', sans-serif;
        font-size: 2vw;
        /* justify-content: space-between; */
        padding: 2vw;
        color: #4C459B;
    }

    .exclusive-for {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        place-items: center;
        align-items: baseline;
        margin-top: 2vw;
    }

    .exclusive-for h2{
        font-size: 3vw;
    }

    .exclusive-for div{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }


    .mob-marque-h2{
        text-align: center;
        background-color: #EFEEFF;
        font-family: 'Archivo', sans-serif;
        font-size: 4.5vw;
        padding: 3vw 0vw 0vw 0vw;
    }
    
    marquee {
        background-color: #4C459B;
        height: 8vw;
        /* padding: 0.3vw; */
        place-items: center;
    }

    marquee img {
        height: 8vw;
        margin: 0px 6vw;
        padding: 1vw 0vw;
        place-items: center;
    }

    
    .links h1, .contact-det h1, .social-media h1 {
        font-size: 5.6vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-foot{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1vw;
        text-align: left;
        padding: 0vw 8vw;
        }

    .mob-foot-left{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        justify-content: space-evenly;
    }

    .mob-foot-left img{
        width: 42vw;
        margin: -5vw;
        display: flex;
        justify-content: left;
        text-align: left;
    }

    .links a{
        font-size: 3.2vw;
        color: black;
        text-decoration: none;
        font-family: 'Archivo', sans-serif;
    }

    .contact-det a {
        text-decoration: none;
        color: black;
        font-family: 'Archivo', sans-serif;
        font-size: 3vw;
    }


    .contact-det{
        gap: 2vw;
        padding: 3vw;
    }
    
    .contact-form {
        width: 90%;
        padding: 0vw 3vw;
        gap: 10vw;
    }

    .contact-form input {
        width: 100%;
        height: 2.5vw;
        /* padding: 1.5vw; */
        font-size: 2vw;
    }
    .adressmob{
        font-family: 'Archivo', sans-serif;
        font-size: 2.5vw;
    }

    .contact-form button {
        height: 5vw;
        background-color: #3D377B;
        color: white;
        border-radius: 5px;
        font-size: 2vw;
        margin: 0vw;
    }

    .social-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2vw 0vw;
    }

    .social-icon{
        display: flex;
        justify-content: space-around;
        padding: 3vw 15vw;
    }

    .social-icon img{
        width: 8vw;
    }

}



