/* nav bar font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');    
/* banner font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&family=Roboto&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

*::-webkit-scrollbar
{
	display: none;
}

.nav-btn{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    z-index: 5;
    position: fixed;
    right: 1vw;
    bottom: 1.5vw;
    transition: 1.5s;
}

.nav-btn img{
    width: 4vw;
}

.nav-btn img:hover{
    z-index: 6;
    scale: 1.4;
    
}


nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20vw;
}

nav img{
    width: 18vw;    
}

.navlist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 1.5vw;
    padding: 2vw 5vw;
}

.navlist a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s;
}

.navlist a:hover{
    scale: 1.1;
    z-index: 2;
    color: #3D377B;
    text-decoration: underline;
    font-weight: 700;
}


@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "A"; }
    2.2791%, 25.0698% { content: "AI"; }
    3.4186%, 23.9302% { content: "AI "; }
    4.5581%, 22.7907% { content: "AI S"; }
    5.6977%, 21.6512% { content: "AI So"; }
    6.8372%, 20.5116% { content: "AI Sol"; }
    7.9767%, 19.3721% { content: "AI Solu"; }
    9.1163%, 18.2326% { content: "AI Solut"; }
    10.2558%,17.0930% { content: "AI Soluti"; }
    11.2678%,16% { content: "AI Solutio"; }
    12.2778%,15% { content: "AI Solution"; }
    13.2878%,14% { content: "AI Solutions"; }

    30%, 62% { content: ""; }
    31%, 61% { content: "E"; }
    33%, 60% { content: "EX"; }
    34%, 59% { content: "EXP"; }
    35%, 58% { content: "EXPE"; }
    36%, 57% { content: "EXPER"; }
    37%, 56% { content: "EXPERT"; }
    38%, 55% { content: "EXPERT "; }
    39%, 55% { content: "EXPERT S"; }
    40%, 54% { content: "EXPERT SO"; }
    41%, 53% { content: "EXPERT SOL"; }
    42%, 52% { content: "EXPERT SOLU"; }
    43%, 51% { content: "EXPERT SOLUT"; }
    44%, 50% { content: "EXPERT SOLUTI"; }
    45%, 49% { content: "EXPERT SOLUTIO"; }
    46%, 47% { content: "EXPERT SOLUTION"; }
  
    70%, 100% { content: ""; }
    72%, 99% { content: "D"; }
    73%, 98% { content: "DA"; }
    74%, 97% { content: "DAT"; }
    75%, 96% { content: "DATA"; }
    76%, 95% { content: "DATA "; }
    77%, 94% { content: "DATA I"; }
    78%, 93% { content: "DATA IN"; }
    79%, 92% { content: "DATA INN"; }
    80%, 91% { content: "DATA INNO"; }
    81%, 90% { content: "DATA INNOV"; }
    82%, 89% { content: "DATA INNOVA"; }
    83%, 88% { content: "DATA INNOVAT"; }
    84%, 87% { content: "DATA INNOVATIO"; }
    85%, 86% { content: "DATA INNOVATION"; }
  
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "AI Solutions"; }
      30% { content: "Expert Workshops"; }
      70% { content: "reader"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }

.header{
    background-color: #4C459B;
    height: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-img{
    width: 100%;
    align-items: right;
}

.banner-content{
    text-align: left;
    padding: 6vw 3vw; 
    height: 100%;
}

.ban-heading{
    color: white;
    font-size: 3vw;
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
}

.ban-sub-text{
    color: white;
    width: 80%;
    margin: 3vw 0px;
    font-family: 'Archivo', sans-serif;
    font-size: 1.5vw;
}

.contact-us{
    width: 14vw;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    margin: 5vw 1vw; 
    font-size: 1.5vw;
    font-family: 'Archivo', sans-serif;
}

.contact-us img{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    padding: .5vw;
}

span{
    color: #00C2FF;
    font-weight: 800;
}

.sec-2-head{
    justify-content: center;
    text-align: center;
    margin: 2vw;
    font-size: 2vw;
    /* font-family: 'Archivo', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1vw; /* 45.18px */
    letter-spacing: 1.7vw;
    text-transform: uppercase;
}

.services{
    padding: 2vw;
    background-color: #EFEEFF;
    position: fixed;
    width: 100%;
    height: 80%;
    position: relative;
}

.services h1{
    font-size: 2vw;
    margin: 2vw;
    font-family: 'Archivo', sans-serif;
}

.service-right-back{
    right: 0px;
    align-items: end;
    height: 20vw;
    top: 0;
    position: absolute;
}



.service-cards{
    margin: 2vw;
    display: grid;
    grid-template-columns: 1fr .1fr 1fr .1fr 1fr .1fr 1fr .1fr 1fr ;
    gap: 1rem;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.radial-grad{
    /* background-image: radial-gradient(#4c459ba4,#4c459b86,#EFEEFF,rgba(255,255,255,0.2));
    filter: blur(5px); */
    border-radius: 46px;
    background: radial-gradient(331.64% 44.78% at 0% 41.35%, #D9D6FF 0%, rgba(217, 214, 255, 0.00) 100%);
}

.card{
    padding: 1vw;
    text-align: left;
    backdrop-filter: blur(6px);   
    
}

.card img{
    width: 4vw;
    aspect-ratio: 1/1;
}

.card h2{
    font-size: 1.2vw;
    margin: 1vw 0vw;
    font-family: 'Archivo', sans-serif;
    color: #4C459B;
}

.card p{
    font-size: 1vw;
    margin-bottom: 1vw;
    font-family: 'Archivo', sans-serif;
    color: rgba(0, 0, 0, 0.651);
}

.service-left-back{
    left: 0px;
    align-items: start;
    height: 20vw;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.sec-3-head{
    text-align: center;
    background-color: #EFEEFF;
    font-family: 'Archivo', sans-serif;
    font-size: 2.3vw;
    padding: 3vw 0vw 0vw 0vw;
}

.sec-3-subhead{
    text-align: center;
    font-size: 1.8vw;
    color: #4C459B;
    background-color: #EFEEFF;
    font-family: 'Archivo', sans-serif;
    padding: 1vw;
}

.sec-3-des{
    font-family: 'Archivo', sans-serif;
}


.sec3{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    text-align: center;
    padding: 2vw;
    background-color: #EFEEFF;
    gap: .5vw;
    place-items: center;
}

.fet-img img{
    width: 35vw;
}

.fet{
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    margin: 2vw;
    place-items: center;
    padding: 2vw;
}

.fet img{
    width: 4vw;
    aspect-ratio: 1/1;
}

.fet p{
    font-size: 1vw;
    padding: .5vw;
    font-family: 'Archivo', sans-serif;
    text-align: left;
}

.sec-3-des{
    justify-content: center;
    text-align: center;
    background-color: #EFEEFF;
    padding : 2vw 8vw;
    font-size: 1.2vw;
}

.sec4 h3{
    text-align: center;
    background-color: #EFEEFF;
    font-size: 1.5vw;
    color: #4C459B;
    font-family: 'Archivo', sans-serif;
    padding: 1vw;
}

.proicon img{
    background-color: #EFEEFF;
    width: 5vw;
    justify-content: center;
    margin: 10px;
}

.proicon p{
    font-size: 1.2vw;
    font-family: 'Archivo', sans-serif;
}

.proicon{
    justify-content: center;
    text-align: center;
    display: grid;
    align-items: center;
    place-items: center;
}

.products{
    background-color: #EFEEFF;
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 2vw;
}

.workshops{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: #EFEEFF;
    padding: 2vw;
    padding-bottom: 0.5vw;
}

.workshops img{
    width: 40vw;
}

.workshop-img{
    aspect-ratio: 4/3;
}

.workshop-desc{
    padding: 2vw;
}

.work-card{
    padding: 2vw;
    backdrop-filter: blur(3px);
    border: 0.px solid #4C459B;
    border-radius: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 2px 34px 0px rgba(130, 130, 216, 0.25);
}

.workshop-desc img{
    width: 8vw;
    right: 0;
    position: absolute;
}

.gear{
    padding-bottom: 3vw;
    transform: translateY(-4vw);
}

.work-card ul{
    display: flex;
    flex-wrap: wrap;
    gap: .5vw;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2vw;
    justify-content: space-between ;
    padding: 1vw;
    color: #4C459B;
    
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 2em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.exclusive-for{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    place-items: center;
}

.exclusive-for div{
    position: relative;
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 1vw;
    place-items: center;
    margin: 1vw ;
}

.exclusive-for h2, .exclusive-for p{
    font-size: 1.5vw;
}

.exclusive-for div img{
    width: 3vw;
    left: 0;
    position: relative;
}

.work-card p{
    font-size: 1.3vw;
}

.scroll{
    padding: 15px 0px;
    background-color: #EFEEFF;
}

marquee{
    background-color: #4C459B;
    height: 6vw;
    /* padding: .3vw; */
    place-items: center;
}

marquee img{
    height: 6vw;
    margin: 0px 6vw;
    padding: 1vw 0vw;
    place-items: center;
}

footer{
    display: grid;
    grid-template-columns: .3fr 1fr .8fr 1fr;
}

footer img{
    width: 15vw;
}

.nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2vw;
}

.links,.contact-det{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.links h1,.contact-det h1,.social-media h1{
    font-size: 2vw;
    font-family: 'Archivo', sans-serif;
}

.nav-links a, .contact-det a{
    text-decoration: none;
    color:black;
    font-family: 'Archivo', sans-serif;
    font-size: 1vw;
}

.contact-form{
    display: flex;
    flex-direction: column;
    place-items: left;
    justify-content: center;
    gap: 1vw;
}

.contact-form input{
    width: 80%;
    height: 2.5vw;
    padding: 1.5vw;
    font-size: 1vw;
}


.contact-form button{
    width: 30%;
    height: 2vw;
    background-color: #3D377B;
    color: white;
    border-radius: 10px;
    font-size: 1.3vw;
}

.social-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-media {
    padding: 1.5vw;   
}

.footer-line{
    color: rgba(0, 0, 0, 0.486);
    justify-content: center;
    align-items: center;
    height: 1px;
    margin: 2px;
}

.copy-rights{
    justify-content: center;
    margin: 1vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.648);
    font-family: 'Archivo', sans-serif;
}

.desktop{
    display: contents;
}

.mobile{
    display: none;
}



@media only screen and (max-width: 450px){
    .desktop{
        display: none;
    }
    .mobile{
        display: contents;
    }

    
    nav{
        display: flex;
        justify-content: space-between;
        color: black;
        padding: 2vw 7vw;
    }

    .mob-nav{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        
    }

    .mn{
        margin: 1vw;
        color: black;
        text-decoration: none;
        transform: translateX(0%);
    }
    .hidden {
        display: none;
    }

    .home{
        background-color: #4C459B;
        /* height: 135vw; */
        padding: 3vw;
        /* display: grid;
        grid-template-rows:5vh 10vh 5vh 2vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 4vw;
    }

    .ban-heading{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 3vw;
    }

    .home img{
        padding: 2vw 8vw;
        width: 100vw;
    }

    .contact-btn{
        display: grid;
        width: max-content;
        grid-template-columns: 80% 20%;
        /* background-color: white; */
        border: 2px solid white;
        font-family: 'Archivo', sans-serif;
        gap: .5vw;
        border-radius: 5px;
    }

    .contact-btn p{
        background: none;
        font-size: 4.2vw;
    }
    
    .contact-btn img{
        width: 5vw;
        background-color: white;
        color: black;
        padding: .5vw;
        border-radius: 5px;
    }

    .impact h1{
        text-align: center;
        font-size: 5vw;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.5vw;
        word-spacing: 1vw;  
        padding: 2vw 1vw;
    }

    .mobile-service{
        padding: 3vw;
        background-color: #EFEEFF;
        position:absolute;
        width: 100%;
    }

    .mobile-service h1{
        font-size: 5vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-service-card{
        padding: 2vw 9vw;
        position:relative;
        display: grid;
        grid-template-columns: 1fr .1fr 1fr;
        gap: 1vw;
        
    }

    .card{
        padding: 2vw 4vw;
        text-align: center;  
        backdrop-filter: blur(10px) !important; 
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 5px;
    }
    
    .card img{
        width: 8vw;
        aspect-ratio: 1/1;
    }
    
    .card h2{
        font-size: 2.5vw;
        margin: 1vw 0vw;
        font-family: 'Archivo', sans-serif;
        color: #4C459B;
    }
    
    .card p{
        font-size: 2vw;
        margin-bottom: 1vw;
        font-family: 'Archivo', sans-serif;
        color: rgba(0, 0, 0, 0.651);
    }

    .last-card{
        margin: 0vw 9.5vw;
        padding: 2vw;
    }

    .mob-serv-right{
        
        right: 0px;
        align-items: end;
        height: 40vw;
        top: 0;
        position: absolute;

    }


    .mob-service-left{
        left: 0px;
        align-items: start;
        height: 36vw;
        bottom: 0;
        position: absolute;
        z-index: 0;
        filter: blur(2px);
    }

    .mob-serv{
        height: 105vw;
    }

    .mob-feat{
        padding: 10vw 2vw;
        padding-bottom: 5vw;
        background-color: #EFEEFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .mob-feature h1{
        font-size: 6vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-feature h3{
        font-size: 4vw;
        font-family: 'Archivo', sans-serif;
        color: #4C459B;
    }

    .mob-feature img{
        width: 50vw;
        margin: 8vw 2vw;
    }

    .mob-feat-product-list{
        display: grid;
        grid-template-columns: 80% 20%;
        padding: 0vw 3vw;
    }

    .mob-feat-list{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 2vw;
    }

    .mob-fet{
        display: flex;
        gap: 1vw;
        place-items: center;
    }

    .mob-fet img{
        width: 8vw;
        margin: 0vw;
    }

    .mob-fet p{
        font-size: 3vw;
        font-family: 'Archivo', sans-serif;
    }

    .mob-prod-list{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }

    .mob-prod-icon img{
        width: 8vw;
        margin: 0vw;
    }

    .mob-prod-icon p{
        font-size: 2vw;
    }

}


